﻿
@page "/"
@*@attribute [Authorize]*@
@inject IAuthenServices AuthenServices
@inject NavigationManager navigationManager;

@if (IsAuthen)
{
    <div class="p-4">
        <div class="container">
            <h1>สวัสดี @AuthenServices.User.Name!</h1>
            <p>ยินดีต้อนรับเข้าสู่ระบบ</p>
        </div>
    </div>
}

@code {
    public bool IsAuthen;
    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (AuthenServices.User != null)
        {
            IsAuthen = true;
        }
        else
        {
            navigationManager.NavigateTo("/login");
        }
    }
}

