﻿@inherits LayoutComponentBase
@inject IAuthenServices AuthenServices;
@inject NavigationManager NavigationManager;

<div class="page">
    @if (LoggedIn)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4">
            @if (!LoggedIn)
            {
                <NavLink class="nav-link" href="login">
                    <span aria-hidden="true"></span> Login
                </NavLink>
                <NavLink class="nav-link" href="register">
                    <button type="button" class="btn btn-primary">Register</button
            </NavLink>
            }
            @if (LoggedIn)
            {
                <NavLink class="nav-link" href="logout">
                    <button type="button" class="btn btn-danger">Logout</button>
                </NavLink>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public bool LoggedIn
    {
        get { return AuthenServices.User != null; }
    }

}
