﻿@page "/login"
@inject IAuthenServices AuthenServices;
@inject NavigationManager navigationManager;


<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
          <!-- Email input -->
          <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Email address</label>
              <InputText type="text" class="form-control" placeholder="Enter username" @bind-Value="model.Username"/>
              <ValidationMessage For="@(() => model.Username)" />
            
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
              <label class="form-label" for="form3Example4">Password</label>

              <InputText type="text" class="form-control" placeholder="Enter password" @bind-Value="model.Password"/>
              <ValidationMessage For="@(() => model.Password)" />
            
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
            </div>
            <a href="#!" class="text-body">Forgot password?</a>
          </div>

          <div class="col-12 row" style="text-align:left; font-weight:bold">
            <span class="col-12">@LoginMesssage</span>
        </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button class="btn btn-primary">
                Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="register"
                class="link-danger">Register</a></p>
          </div>

        </EditForm>
      </div>
    </div>
  </div>
</section>



@code {
    public Login_Model model = new Login_Model();
    public string LoginMesssage;

    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (AuthenServices.User != null)
        {
            navigationManager.NavigateTo("/");
        }
    }


    private async void OnValidSubmit()
    {
        try
        {
            var returnedUser = await AuthenServices.LoginGetToken(model);
            if (returnedUser.Username != null)
            {
                navigationManager.NavigateTo("");
            }
            if (returnedUser == null)
            {
                LoginMesssage = "Invalid username or password";
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        //await AuthenServices.Login(model);
        //var returnUrl = NavigationManager.QueryString("returnUrl") ?? "";
    }
}
