﻿@page "/register"
@inject IAuthenServices AuthenServices;
@inject NavigationManager NavigationManager;


<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <EditForm Model="@model" OnValidSubmit="OnValidSubmitRegister">
                   <DataAnnotationsValidator />
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Your Name</label>
                      <InputText type="text" class="form-control" placeholder="Enter Your Name" @bind-Value="model.Name"/>
                      <ValidationMessage For="@(() => model.Name)" />
                      
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c">Your Email</label>
                      <InputText type="text" class="form-control" placeholder="Enter Email" @bind-Value="model.Username"/>
                      <ValidationMessage For="@(() => model.Username)" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c">Password</label>
                      <InputText type="text" class="form-control" placeholder="Enter Your Password" @bind-Value="model.Password"/>
                      <ValidationMessage For="@(() => model.Password)" />
                    </div>
                  </div>

                  @*<div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c">Role</label>
                      <InputText type="text" class="form-control" placeholder="Enter Your Role" @bind-Value="model.role"/>
                      <ValidationMessage For="@(() => model.role)" />
                    </div>
                  </div>*@

                  

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                       <button type="submit" class="btn btn-primary btn-lg" disabled="@loading">
                           @if (loading) 
                                {
                                    <span class="spinner-border spinner-border-sm mr-1"></span>
                                }
                       Register
                       </button>
                  </div>
                  </EditForm>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@code {
    public Register_Model model = new Register_Model();
    private bool loading = false;
    private string LoginMesssage;

    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (AuthenServices.User != null)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private async void OnValidSubmitRegister()
    {
        try
            {
                loading = true;
                var returnedUser = await AuthenServices.RegisterGetRefresh(model);
                //if(returnedUser.Username != null)
                //    {   
                         NavigationManager.NavigateTo("/login");
                //    }
            }
        catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                loading = false;
            }
        //await AuthenServices.Register(model);
        //var returnUrl = NavigationManager.QueryString("returnUrl") ?? "";
        //NavigationManager.NavigateTo("/login");
    }
}
