﻿@page "/employeeedit/{Id}"
@page "/employeeedit"
@attribute [Authorize]
@inject IEmployeeServices EmployeeServices

<h3>EmployeeEdit</h3>

<EditForm Model="@employee" OnValidSubmit="OnUpdateEmployeeById">
 <DataAnnotationsValidator />
<div class="mb-3">
  <label for="Name" class="form-label">Name</label>
  @*<input type="text" class="form-control" id="Name" placeholder="name" value="@employee.Name">*@
   <InputText type="text" class="form-control" placeholder="Enter Your Name" @bind-Value="employee.Name"/>
   <ValidationMessage For="@(() => employee.Name)" />
</div>
<div class="mb-3">
  <label for="Username" class="form-label">Username</label>
  @*<input type="text" class="form-control" id="Username" placeholder="name@example.com" value="@employee.Username" disabled>*@
  <InputText type="text" class="form-control" placeholder="Enter Your Username" @bind-Value="employee.Username" disabled/>
   <ValidationMessage For="@(() => employee.Username)" />
</div>
<div class="mb-3">
  <label for="role" class="form-label">role</label>
  @*<input type="text" class="form-control" id="role" placeholder="" value="@employee.role" disabled>*@
  <InputText type="text" class="form-control" placeholder="Enter Your role" @bind-Value="employee.role" disabled/>
   <ValidationMessage For="@(() => employee.role)" />
</div>
<div class="mb-3">
<button type="submit" class="btn btn-success">บันทึก</button>
</div>
</EditForm>

@code {
    public Employee employee { get; set; } = new Employee();

    [Parameter]
    public string Id { get; set; }


    protected override async Task OnInitializedAsync()
    {
        employee = await EmployeeServices.GetEmployeeById(Id);
    }

    private async void OnUpdateEmployeeById()
    {
        await EmployeeServices.OnUpdateEmployeeById(Id, employee);
    }

}
