﻿@page "/employeecreate"
@attribute [Authorize]
@inject IEmployeeServices EmployeeServices
@inject IAuthenServices AuthenServices
@inject NavigationManager navigationManager


<h3>EmployeeCreate</h3>


<EditForm Model="@model" OnValidSubmit="OnCreateEmployee">
    <DataAnnotationsValidator />
        <div class="mb-3">
          <label for="Name" class="form-label">Name</label>
          <InputText type="text" class="form-control" id="Name" placeholder="name" @bind-Value="model.Name"/>
        </div>
        <div class="mb-3">
          <label for="Username" class="form-label">Username</label>
          <InputText  type="text" class="form-control" id="Username" placeholder="name@example.com" @bind-Value="model.Username"/>
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <InputText type="text" class="form-control" id="Password" placeholder="" @bind-Value="model.Password"/>
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">role</label>
          <InputText type="text" class="form-control" id="role" placeholder="" @bind-Value="model.role"/>
        </div>
        <div class="mb-3">
        <button type="submit" class="btn btn-success">สร้างพนักงาน</button>
        </div>
</EditForm>

@code {

    public Employee model = new Employee();

    protected override async Task OnInitializedAsync()
    {
    }

    private async void OnCreateEmployee()
    {
        await EmployeeServices.InsertEmployee(model);
    }


}
