﻿
@page "/employee"
@attribute [Authorize]
@inject IEmployeeServices EmployeeServices

<h3>EmployeeList</h3>

@if (@IsLoading)
{
    <div class="card-deck">
        <table class="table">
            <thead>
                <tr>
                    @*<th scope="col">#</th>*@
                    <th scope="col">FullName</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var employee in Employees)
                {
                    <tr>
                        @*<th scope="id">@employee.Id</th>*@
                        <td>@employee.Name</td>
                        <td>@employee.Username</td>
                        <td>@employee.role</td>
                        <td>
                            @*<a href="@($"employeedetail/{employee.Id}")">*@
                            <NavLink class="nav-link" href="@($"employeedetail/{employee.Id}")">
                                <button type="button" class="btn btn-success">ดูรายละเอียด</button>
                            </NavLink >
                            @*</a>*@
                        </td>
                        <td>
                            <NavLink class="nav-link" href="@($"employeeedit/{employee.Id}")">
                                <button type="button" class="btn btn-primary">เเก้ไข</button>
                            </NavLink >
                        </td>
                        <td>
                            <NavLink class="nav-link" href="@($"employeeremove/{employee.Id}")">
                                <button type="button" class="btn btn-danger">ลบ</button>
                            </NavLink >
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    //private Employees model = new Employees();
    //private string value;

    public IEnumerable<Employee> Employees { get; set; }
    public bool IsLoading = false;


    protected override async Task OnInitializedAsync()
    {
        var Employees_List = (await EmployeeServices.GetEmployees()).ToList();
        Employees = Employees_List;
        if(Employees_List != null)
        {
            IsLoading = true;
            //Employees = Employees_List;
        }
        //Employees = await EmployeeServices.GetEmployees();
    }

}
