﻿@page "/employeedetail/{Id}"
@page "/employeedetail"
@attribute [Authorize]
@inject IEmployeeServices EmployeeServices
@inject IAuthenServices AuthenServices
@inject NavigationManager navigationManager



<h3>EmployeeDetail</h3>


    <div class="card" style="width: 18rem;">
        <img src="/EmployeeProfile/my_Picture.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Fullname: @employee.Name</h5>
        <p class="card-text">Username: @employee.Username</p>
        <button href="#" class="btn btn-primary" disabled>@employee.role</button>
        </div>
    </div>



@code {

    public Employee employee { get; set; } = new Employee();

    [Parameter]
    public string Id { get; set; }


    protected override async Task OnInitializedAsync()
    {
        employee = await EmployeeServices.GetEmployeeById(Id);
    }
}
