﻿@inherits LayoutComponentBase
@layout MainLayout
@inject IAuthenServices AuthenServices
@inject NavigationManager navigationManager


<div class="p-4">
    <div class="container">
        @Body
    </div>
</div>

@code {
    public bool IsAuthen;
    //protected override void OnInitialized()
    protected override async Task OnInitializedAsync()
    {
        if (AuthenServices.User != null)
        {
            IsAuthen = true;
        }
        else
        {
            navigationManager.NavigateTo("/login");
        }
    }
}


